<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/task8?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="by.yury.data.pojo.joined.Person"/>
        <mapping class="by.yury.data.pojo.joined.Employee"/>
        <mapping class="by.yury.data.pojo.joined.Student"/>

        <mapping class="by.yury.data.pojo.singleTable.Animal"/>
        <mapping class="by.yury.data.pojo.singleTable.Eagle"/>
        <mapping class="by.yury.data.pojo.singleTable.Lion"/>

        <mapping class="by.yury.data.pojo.tablePerClass.Vehicle"/>
        <mapping class="by.yury.data.pojo.tablePerClass.Plane"/>
        <mapping class="by.yury.data.pojo.tablePerClass.Ship"/>



    </session-factory>

</hibernate-configuration>